body{
    text-align: center;
    background-color: hotpink;
}h1{
    text-decoration: underline;
color:blue;
}
input{
    font-size: 30px;
    width: 40%;
    margin-top: 10px;
    border: 2px solid black;

}
button{
    margin-top: 15px;
    height: 30px;
    width: 80px;
    border: 2px solid black;
    border-radius: 7px;
}
.result{
    color:blue;
    font-size: 30px;
}
.fee{
    color:blue;
    font-size: 30px;
}
.fee1{
    color:darkred;
    font-size: 30px;
    text-transform: lowercase;
}
